<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/style_about.css">

</head>
<body>

    <button onclick="window.location.href='/home_page'" class="home_btn" style="position: absolute; top: 60%; left: 68%;">
        <span class="buttonText">Return to <br> Home Page</span>
        <img src="/static/images/home.jpg" class="btn_image" alt="img">
    </button>

        <div id="aboutus" class="aboutus">
            <p>
                Hey there ! <br>
                We are Or & Daniel, two 4th year students at the Technion – Israel <br>
                Institute of Technology, and we wanted to tell you a little bit about <br>
                ourselves and why we choose to develop this game. <br>
                First thing you need to know about us is that we're both very <br>
                loving and dedicated aunts to our amazing young nieces and nephews. <br>
                Over time, while helping our nieces and nephews with their homework, <br>
                we saw a need for a learning tool that help young kids practice and <br>
                improve their basic mathematical skills, that matches itself <br>
                to the kids' changing knowledge level and skills over time. <br>
                So in order to help our young nieces and nephews and <br>
                all the other little kids who struggle  with their math, <br>
                we decided to build this game in order to give them a fun <br>
                and interactive way to practice and improve those <br>
                important skills.
            </p>
        </div>
</body>
</html>